.heroes-row td,
.heroes-row th {
  border-bottom: 1px solid white;
  padding: 4px;
}

table {
  border-collapse: collapse;
}

.controls {
  display: flex;
  margin: 5px;
}

.controls div {
  cursor: pointer;
}
